{% extends 'base.html' %}

{% load template_tags3 %}

{% block content %}

<h2 style="margin-left: 15px">Todolist - Task List</h2>

{% include 'todolist/task_quick_form.html' %}

<nav class="navbar">
    <a class="btn btn-success fa fa-plus" href="{% url 'task_create' %}"></a>
    <a class="btn btn-info fa fa-list" href="{% url 'task_list' %}"> Active</a>
    <a class="btn btn-info fa fa-list" href="{% url 'task_completed_list' %}"> Completed</a>
    <a class="btn btn-info fa fa-list" href="{% url 'task_deleted_list' %}"> Deleted</a>
</nav>

<table class="table">
    <thead>
        <tr>
            <th>More</th>
            <th>Pri.</th>
            <th>Imp.</th>
            <th>Title</th>
            <th>Category</th>
            <th>Place</th>
            <th>Duration</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}

        <tr {% if not object.has_started %} style="background-color:#0f171f;" {% endif %}>
            <td><i class="btn btn-info fa fa-caret-down" onclick="showDetails(this, {{ object.id }})"></i></td>
{#            <td><a class="btn btn-info fa fa-search" href="{% url 'task_detail' pk=object.id %}"></a></td>#}
            <td>{{object.priority|default_if_none:''}}</td>
            <td>{{object.importance|default_if_none:''}}</td>
            <td>{{object.title|default_if_none:''}}</td>
            <td>{{object.category|default_if_none:''}}</td>
            <td>{{object.place|default_if_none:''}}</td>
            <td>{{object.duration|format_timedelta}}</td>
            <td>{{object.time_to_end|format_timedelta:'dhm'}}</td>
        </tr>

        <tr hidden id="more_{{ object.id }}">
            <td colspan="8" class="details_table_parent">
                <span class="details_table">
                    <span class="detail_block">
                        <b>Edit:</b><br>
                        <a class="btn btn-warning fa fa-pencil-alt" href="{% url 'task_update' pk=object.id %}"></a>
                    </span>
                    <span class="detail_block">
                        <b>Finish:</b><br>
                        <a class="btn btn-success fa fa-check" href="{% url 'task_complete' pk=object.id %}"></a>
                    </span>
                    <span class="detail_block">
                        <b>Delete:</b><br>
                        <a class="btn btn-danger fa fa-trash" href="{% url 'task_delete' pk=object.id %}"></a>
                    </span>
                    <span class="detail_block">
                        <b>Creation:</b><br>
                        {{object.create_time|format_datetime}}
                    </span>
                    <span class="detail_block">
                        <b>Start:</b><br>
                        {{object.start|format_datetime}}
                    </span>
                    <span class="detail_block">
                        <b>Deadline:</b><br>
                        {{object.deadline|format_datetime}}
                    </span>
                    <span class="detail_block">
                        <b>Completion:</b><br>
                        {{object.complete_time|format_datetime}}
                    </span>
                    <span class="detail_block">
                        <b>Status:</b><br>
                        {{object.status|default_if_none:''}}
                    </span>
                    <span class="detail_block">
                        <b>Details:</b><br>
                        {{object.details|default_if_none:''|linebreaksbr}}
                    </span>
                </span>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

<script>

function showDetails(element, id){
    var newRow = document.getElementById('more_' + id)
    if (newRow.hidden){
        newRow.removeAttribute('hidden')
        element.classList.remove('fa-caret-down');
        element.classList.add('fa-caret-up');

    } else{
        newRow.setAttribute('hidden', 'hidden')
        element.classList.add('fa-caret-down');
        element.classList.remove('fa-caret-up');
    }
}

</script>

<span style="margin: 0 0 0 15px">Count: {{ object_list.count }}</span>

{% endblock %}