{% extends 'base.html' %}

{% load tags %}

{% block content %}

<nav class="navbar">
    <a class="btn btn-warning fa fa-arrow-left" href="{% url model_name|add:'_list' %}"> Back</a>

    {% for action in instance_actions %}
        {% if action.icon_classes %}
            <td><a class="{{action.button_classes}} {{action.icon_classes}}"
                   href="{% url model_name|add:'_'|add:action.name pk=object.id %}"> {{action.verbose_name}}</a></td>
        {% else %}
            <td><a href="{% url model_name|add:'_'|add:action.name pk=object.id %}">{{action.verbose_name}}</a></td>
        {% endif %}
    {% endfor %}

</nav>

{% include "./"|add:model_name|add:"_detail_table.html" %}

{% endblock %}