{% extends 'base.html' %}

{% load template_tags3 %}

{% block content %}

<h2 style="margin-left: 15px">Notes - Note List</h2>

<nav class="navbar">
    <a class="btn btn-success fa fa-plus" href="{% url 'note_create' %}"></a>
    <a class="btn btn-info fa fa-list" href="{% url 'note_list' %}"> Active</a>
    <a class="btn btn-info fa fa-list" href="{% url 'note_deleted_list' %}"> Deleted</a>
</nav>

<table class="table">
    <tr>
        <th>More</th>
        <th>Title</th>
        <th>Category</th>
        <th>Importance</th>
    </tr>
    {% for object in object_list %}
    <tr>
        <td><i class="btn btn-info fa fa-caret-down" onclick="showDetails(this, {{ object.id }})" ></i></td>
        <td>{{object.title|default_if_none:''}}</td>
        <td>{{object.category|default_if_none:''}}</td>
        <td>{{object.importance|default_if_none:''}}</td>
    </tr>
    <tr hidden id="more_{{ object.id }}">
        <td colspan="4" class="details_table_parent">
            <table class="details_table">
                <tr>
                    <th>Edit:</th>
                    <th>Delete:</th>
                    <th>Creation:</th>
                    <th>Deleted:</th>
                    <th>Text:</th>
                </tr>
                <tr>
                    <td><a class="btn btn-warning fa fa-pencil-alt" href="{% url 'note_update' pk=object.id %}"></a></td>
                    <td><a class="btn btn-danger fa fa-trash" href="{% url 'note_delete' pk=object.id %}"></a></td>
                    <td>{{object.create_time|format_datetime}}</td>
                    <td>{{object.deleted|default_if_none:''}}</td>
                    <td>{{object.text|linebreaksbr|default_if_none:''}}</td>
                </tr>
            </table>
        </td>
    </tr>
    {% endfor %}
</table>

<script>

function showDetails(element, id){
    var newRow = document.getElementById('more_' + id)
    if (newRow.hidden){
        newRow.removeAttribute('hidden')
        element.classList.remove('fa-caret-down');
        element.classList.add('fa-caret-up');

    } else{
        newRow.setAttribute('hidden', 'hidden')
        element.classList.add('fa-caret-down');
        element.classList.remove('fa-caret-up');
    }
}

</script>

{% endblock %}