{% extends 'base.html' %}

{% load tags %}

{% block content %}

<h2 style="margin-left: 15px">Notes - Note Detail</h2>

<nav class="navbar">
    <a class="btn btn-warning fa fa-arrow-left" href="{% url 'note_list' %}"> Back</a>
    <td><a class="btn btn-info fa fa-search"
           href="{% url 'note_detail' pk=object.id %}"> Detail</a></td>
    <td><a class="btn btn-warning fa fa-pencil-alt"
           href="{% url 'note_update' pk=object.id %}"> Update</a></td>
    <td><a class="btn btn-danger fa fa-trash"
           href="{% url 'note_delete' pk=object.id %}"> Delete</a></td>
</nav>

{% include "notes/note_detail_table.html" %}

{% endblock %}